<div class="container">
    <div class="header">
        <h1>Bem-vindo ao nosso catalogo</h1>
        <p>explore uma variedade de produtos incriveis diretamenta da nossa API. Clique no botão abaixo para começar.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <h3>Explore os produtos</h3>
            <p>Confira nossa lista de produtos e encontre o que mais combina com você!</p>
            <a routerLink="/listagem" class="button">Ver produtos</a>
        </div>
        <div class="card">
            <h3>Sobre o projeto</h3>
            <p>Saiba mais sobre como este aplicativo foi criado com Angular e Apis públicas.</p>
            <a href="#" class="button button-disabled">Em breve</a>
        </div>
    </div>
</div>