<h1>Detalhes do Filme</h1>

<p *ngIf="isLoading">Carregando detalhes...</p>

<div *ngIf="!isLoading && movie">
  <h2>{{ movie.title }}</h2>
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" />
  <p><strong>Ano:</strong>{{ movie.release_date }}</p>
  <p><strong>Data de Lançamento:</strong> {{ movie.release_date }}</p>
  <p><strong>Descrição:</strong> {{ movie.overview }}</p>
  <p><strong>Nota:</strong> {{ movie.vote_average }}</p>
  <p><strong>Avaliação:</strong> {{ movie.vote_average }}</p>
</div>

<p *ngIf="!isLoading && !movie">Nenhum detalhe encontrado.</p>